/* Element Selector */
h1 {
	color: green;
	font-size: 36px;
	text-align: center;	
}
/* Element Selector */
p {
	color: blue;
	font-size: 20px;
	width: 800px;
}
/* Multi element formatting */
article, div {
	border: solid;
	padding: 2px;
}
/* Element Selector */
div {
	border-color: green;
}
span {
	background-color: red;
}
/* Multi-element formatting */
h3, .red {
	color: red;
}
/* ID selector */
#idPurple {
	color: purple;
}
/* Element with class */
p.red {
	font-size: 15px;
	font-weight: bold;
}
/* Class Selector */ 
.slanted {
	font-style: italic;
}
/* Multi-class Selector */
.red.slanted {
	width: 400px;
}
/* Direct Child Selector */
article > p {
	background-color: yellow;
	opacity: .7;
}
/* Descendent Selector */
article p {
	text-align: center;
}
/* Style List Items as a menu */
header li {
	list-style: none;
}
a:link, a:visited {
	text-decoration: none;
	background-color: #eeeeee;
	border: 1px solid black;
	color: black;
	display: block;
	width: 200px;
	text-align: center;
	margin-bottom: 1px;
}
a:hover, a:active {
	background-color: #666666;
}
/* n-th child */
header li:nth-child(2):hover {
	font-size: 8px;
}
section div:nth-child(odd) {
	background-color: #85e085; 
}
/* Specificity example */
div.specD p {
	color: #ff0055;
}
p.specP {
	color: #ffe6ee;
}
/* styling text */
.style {
	font-family: Arial, Helvetica, sans-serif;
	color: #008000;
	font-style: italic;
	font-weight: 700;
	font-size: 32px;
	text-transform: capitalize;
	text-align: right;
}
#sizeT {
	font-size: 120%;
}